
	<div id="foot_left" class="col-md-3">
		
	</div>
	<div id="foot_left_center" class="col-md-3">
		
	</div>
	<div id="foot_right_center" class="col-md-3">
		
	</div>
	<div id="foot_right" class="col-md-3">
		
	</div>
