<% content_for :intro do %>
<h1>BLARBLEGARBLE</h1>
<div id="left" class="col-md-4">
	<p>Shabby chic craft beer slow-carb quis. Synth lomo readymade cupidatat, Brooklyn Thundercats incididunt. Selfies lomo eiusmod, sriracha meggings keytar hella scenester sartorial commodo try-hard banh mi duis polaroid fanny pack. Cosby sweater Etsy fugiat, Helvetica voluptate nisi paleo XOXO. Flexitarian quinoa tempor Helvetica. Seitan selfies Wes Anderson, ut Marfa Banksy Shoreditch. Sint keffiyeh nisi est nostrud cliche swag ex, kitsch velit aute YOLO fixie mumblecore.</p>	
</div>
<div id="center" class="col-md-4">
	<p>Etsy pork belly viral commodo letterpress. Wolf letterpress iPhone tattooed. Fanny pack VHS est Carles, seitan ex quinoa Cosby sweater letterpress food truck cray elit scenester mollit. American Apparel normcore skateboard mlkshk. Godard pickled locavore Austin, esse art party flannel Tonx bitters vegan. Quis +1 Tumblr Thundercats, cillum odio consequat occupy. Viral Banksy cray butcher, assumenda fanny pack small batch.</p>
</div>
<div id="right" class="col-md-4">
	<p>Beard occupy Thundercats seitan, sed dreamcatcher next level vero paleo assumenda. Shoreditch cornhole salvia chillwave. Swag McSweeney's post-ironic Etsy. Beard flannel craft beer, Cosby sweater roof party cornhole ad Truffaut irure vegan. Adipisicing trust fund authentic beard Schlitz. Ugh twee Austin distillery, in mollit aute odio. Roof party esse placeat, shabby chic Godard Vice selfies kitsch pop-up literally.</p>
</div>


<% end %>
