<% content_for :intro do %>
<h1>BLARBLEGARBLE</h1>
<div id="left" class="col-md-3 col-sm-6 col-xs-12 container-fluid">
	<div class="thumbnail">
		<img src="http://lorempixel.com/300/300" alt="">
		<div class="caption">
			<h3>Something</h3>
			<p>Shabby chic craft beer slow-carb quis. Synth lomo readymade cupidatat, Brooklyn Thundercats incididunt. Selfies lomo eiusmod, sriracha meggings keytar hella scenester sartorial commodo try-hard banh.</p>	
		</div>
	</div>
</div>
<div id="center" class="col-md-3 col-sm-6 col-xs-12 container-fluid">
	<div class="thumbnail">
		<img src="http://lorempixel.com/300/300" alt="">
		<div class="caption">
			<h3>Something else</h3>
			<p>Etsy pork belly viral commodo letterpress. Wolf letterpress iPhone tattooed. Fanny pack VHS est Carles.</p>
		</div>	
	</div>
</div>
<div id="right" class="col-md-3 col-sm-6 col-xs-12 container-fluid">
	<div class="thumbnail">
		<img src="http://lorempixel.com/300/300" alt="">
		<div class="caption">
			<h3>Another Something</h3>
			<p>Beard occupy Thundercats seitan, sed dreamcatcher next level vero paleo assumenda. Shoreditch cornhole salvia chillwave.</p>
		</div>	
	</div>
</div>


<% end %>
