// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

html {
	overflow-x: hidden;	
}


* {
	padding: 0;
	margin: 0;
}
body {
	margin-top: 70px;
	width: 100%;

	.modal-open {
		overflow: visible;
	}

}
	#wishmodal{
		text-align: center;

	}

	#supplymodal{
		margin: 0px auto;
		width: 350px;
		text-align: center;

		form {
			
		}
	}

	.navbar {
		background: rgba(255, 255, 254, 0.4);
		padding: 5px 10px;

		.nav {
			margin-top: 10px;
		}
		#leftnav {
			color: green;
		}
		.btn {
			padding: 3px;
		}
	}


	#intro {
		background: lightblue 50% 0 no-repeat fixed;
		min-height: 800px;
		height: auto;
		margin: 0px auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
		overflow: auto;

		#middle {
			height: auto;
			position: absolute;
			text-align: center;
			top :100px;
			width: 100%;
			margin-bottom: 30px;
		
				#left, #right, #center {
					margin: auto 20px;
					margin-bottom: 10px;
					min-height: 200px;
					max-height: 500px;
					min-width: 200px;
					max-width: 300px;
					display: inline-block;
					vertical-align: top;
					border: none;

				}

		}

	}

#middle, #form, #article {
	height: auto;
	position: absolute;
	text-align: center;
	top :150px;
	width: 100%;
	margin-bottom: 30px;
}


	#home { 
		  background: url(http://www.pageresource.com/wallpapers/wallpaper/dog-abyss_1571739.jpg)50% 0 no-repeat;
		  min-height: 1000px;
		  height: auto;
		  margin: 0px auto; 
		  width: 100%; 
		  max-width: 1920px; 
		  position: relative;
		  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
		  box-shadow: 0 0 50px rgba(0,0,0,0.8);
		
		#form{ 
			  height: 458px; 
			  position: absolute; 
			  text-align: center; 
			  top: 150px; 
			  width: 100%; 
			  margin-bottom: 30px;
			}

	}
 
	#about { 
		background: url(http://www.imagebrowse.com/wp-content/uploads/2013/08/interesting-dog-and-white-blanket-wallpaper-backgrounds.jpg) 50% 0 no-repeat;
		
		 min-height: 1200px; 
		 height: auto; 
		 margin: 0px auto; 
		 width: 100%; 
		 max-width: 1920px; 
		 position: relative; 
		 -webkit-box-shadow: 50px 0 100px rgba(0,0,0,0.8);
		 box-shadow: 0 0 -50px rgba(0,0,0,0.8);

		
		 #about_article{ 
			  height: 458px; 
			  position: absolute; 
			  text-align: center; 
			  top: 0px; 
			  width: 100%; 

			}

	}

	.carousel {
		min-height: 400px;
		background: center;
		 -webkit-background-size: cover;
	 	 -moz-background-size: cover;
	 	 -o-background-size: cover;
	 	 background-size: cover;
	}

	#supply_table, #offer_table {
		margin: 10px;
		max-height: 400px;
		max-width: 500px;
		min-width: 400px;
		min-height: 100px;
		display: inline-block;
		vertical-align: top;
	}

	#hidewishes, #hidesupplies {
		border: 1px solid black;
		font-size: 14px;
		font-weight:bold;
		background: rgba(20,219,219,0.2);
		width: 90px;
		padding: 4px;
		margin: 0px auto;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0 10px rgba(0,0,0,0.8);

	}

	#ender { 
		background: url()  0 no-repeat;
		
		 min-height: 1000px; 
		 height: auto; 
		 margin: 0px auto; 
		 width: 100%; 
		 max-width: 1920px; 
		 position: relative; 
		 -webkit-box-shadow: 50px 0 100px rgba(0,0,0,0.8);
		 box-shadow: 0 0 -50px rgba(0,0,0,0.8);

		
		 #ender_article{ 
			  height: 458px; 
			  position: absolute; 
			  text-align: center; 
			  top: 100px; 
			  width: 100%; 

			}

	}

	#footer { 
	background: #292C30 0 no-repeat;
	
	 min-height: 400px; 
	 height: auto; 
	 margin: 0px auto; 
	 width: 100%; 
	 max-width: 1920px; 
	 position: relative; 
	
	 #foot_article{ 
		  height: 458px; 
		  position: absolute; 
		  text-align: center; 
		  top: 30px; 
		  width: 100%; 
		  color: lightgrey;
		  padding-top: 0px;

		  #foot_left, #foot_left_center, #foot_right_center, #foot_right {
		  	border: 1px solid lightgray;
		  	display: inline-block;
		  	max-width: 250px;
		  	min-width: 300px;
		  	min-height: 350px;
		  	max-height: 400px;
		  	vertical-align: top;

		  }

		}

	}

